@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 22px;
}

h2{
    font-size: 2.2em;
    font-weight: 700;
    color: #201335;
}
h2:first-letter{
    font-size: 2.8em;
}
h3{
    margin-left: 15px;
    color: #201335;
    font-weight: 300;
    font-size: 1.5em;
}

#header{
    background-color: #201335;
}

#menu{
    display: flex;
    justify-content: space-between;
}

#menu .logo img{
    width:180px
}

#menu a{
    color: white;
}

#menu a:hover{
    color:  #a6fc83;
}

#banner img{
    width: 100%;
    margin-bottom: -200px;
    margin-top: 100px;
    border-radius: 10px;
}

#about{
    background-color: #fffff0;
    padding-top: 250px;
    padding-bottom: 50px;
}

#about .content{
    border-left: #201335 10px solid;
}

#servers{
    background: url(../images/servers.jpg);
    background-size: 100% auto;
    background-attachment: fixed;
    height: 450px;
}

#services{
    background-color: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services .icon{
    background-color: #201335;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

#services ul li{
    display: flex;
    margin-top: 15px;
    border-bottom: 1px solid #BBB;
}

#footer{
    background-color: #e3e2db;
    color: #808080;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer .logo-white{
    width: 200px;
    margin-left: auto;
    display: block;
}

#copyright{
    background-color: #201335;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
}

@media only screen and (max-width: 575px) {
    #footer{
        text-align: center;
    }

    #footer .logo-white{
        width: 300px;
        margin-right: auto;
    }
}

@media only screen and (max-width: 520px) {
    #menu ul{
        display: none;
    }
    #menu{
        display: flex;
        justify-content: center;
    }
    #menu .logo img{
        width:300px
    }

    #banner img{
        margin-bottom: -15px;
        margin-top: 15px;
    }

    #about {
        padding-top: 50px;
    }
}